<h3>Cadastro</h3>

<form>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-4">

        <div class="form-group">
          <label class="control-label" for="cep">Cep</label>
          <input type="text"
                 class="form-control"
                 id="inputCep"
                 name="cep"
                 #cep="ngModel"
                 placeholder="Cep"
                 [(ngModel)]="pedido.cep"
                 (change)="buscarEndereco(cep.value)"
                 [ngClass]="{
                              'is-invalid': cep.invalid && (cep.dirty || cep.touched),
                              'is-valid': cep.valid && (cep.dirty || cep.touched)
                            }"
                 required />


          <div class="invalid-feedback m-2" role="alert" *ngIf="cep.invalid && (cep.dirty || cep.touched)">
            <div *ngIf="cep.errors.required">
              Cep deve ser preechido
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="cidade">Cidade</label>
          <input type="text"
                 class="form-control"
                 id="inputCidade"
                 name="cidade"
                 #cidade="ngModel"
                 [(ngModel)]="pedido.cidade"
                 placeholder="Cidade"
                 [ngClass]="{
                              'is-invalid': cidade.invalid && (cidade.dirty || cidade.touched),
                              'is-valid': cidade.valid && (cidade.dirty || cidade.touched)
                            }"
                 required />

          <div class="invalid-feedback m-2" role="alert" *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)">
            <div *ngIf="cidade.errors.required">
              Cidade deve ser preechido
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="UF">UF</label>
          <select class="form-control single-select"
                  id="inputMunicipio"
                  name="uf"
                  #uf="ngModel"
                  [ngClass]="{
                              'is-invalid': uf.invalid && (uf.dirty || uf.touched),
                              'is-valid': uf.valid && (uf.dirty || uf.touched)
                            }"
                  required
                  [(ngModel)]="pedido.uf">


            <option selected value="">[Selecione o estado]</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
          </select>

          <div class="invalid-feedback m-2" role="alert" *ngIf="uf.invalid && (uf.dirty || uf.touched)">
            <div *ngIf="uf.errors.required">
              UF deve ser preechido
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="endereco">Endereço</label>
          <input type="text"
                 class="form-control"
                 id="inputEndereco"
                 name="endereco"
                 #endereco="ngModel"
                 [(ngModel)]="pedido.endereco"
                 required
                 [ngClass]="{
                              'is-invalid': endereco.invalid && (endereco.dirty || endereco.touched),
                              'is-valid': endereco.valid && (endereco.dirty || endereco.touched)
                            }"
                 placeholder="Endereço" />
          <div class="invalid-feedback m-2" role="alert" *ngIf="endereco.invalid && (endereco.dirty || endereco.touched)">
            <div *ngIf="endereco.errors.required">
              Endereço deve ser preechido
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="número">Número</label>
          <input type="text"
                 class="form-control"
                 id="inputNumero"                 
                 name="numeroEndereco"
                 #numeroEndereco="ngModel"
                 [(ngModel)]="pedido.numeroEndereco"
                 placeholder="Número" />
        </div>

        <div class="form-group">
          <a class="btn btn-primary" (click)="continuarComprando()" style="color:white">
            Continuar Comprando
          </a>
        </div>

        <div class="form-group">
          <button class="btn btn-success" (click)="efetivarVenda()">
            Finalizar Pedido
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
