<form class="form-signin">

  <h1 class="titulo">Cadastro de produto</h1>

  <label for="Nome" class="sr-only">Nome</label>
  <input type="text"
         id="inputNome"
         name="nome"
         #nome="ngModel"
         class="form-control mb-2 col-4"
         placeholder="Nome"
         [(ngModel)]="produto.nome"
         [ngClass]="{
          'is-invalid': nome.invalid && (nome.dirty || nome.touched),
          'is-valid': nome.valid && (nome.dirty || nome.touched)
         }"
         required
         maxlength="20"/>
  <div class="invalid-feedback m-2" role="alert" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
    <div *ngIf="nome.errors.required">
      Nome deve ser preechido
    </div>

    <div *ngIf="nome.errors.maxlength">
      Nome pode conter no máximo 20 caracteres
    </div>
  </div>

  <label for="Descricao" class="sr-only">Descrição</label>
  <input type="text"
         id="inputDescricao"
         name="descricao"
         #descricao="ngModel"
         class="form-control mb-2 col-4"
         placeholder="Descrição"
         [(ngModel)]="produto.descricao"
         [ngClass]="{
          'is-invalid': descricao.invalid && (descricao.dirty || descricao.touched),
          'is-valid': descricao.valid && (descricao.dirty || descricao.touched)
         }"
         required
         minlength="50"/>
  <div class="invalid-feedback m-2" role="alert" *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)">
    <div *ngIf="descricao.errors.required">
      Descrição deve ser preechido
    </div>
    <div *ngIf="descricao.errors.minlength">
      O campo descrição dever ter no mínimo 50 caracteres
    </div>
  </div>

  <label for="Preco" class="sr-only">Preço</label>
  <input type="number"
         id="inputPreco"
         name="preco"
         #preco="ngModel"
         class="form-control mb-2 col-2"
         placeholder="Preço"
         [(ngModel)]="produto.preco"
                  [ngClass]="{
          'is-invalid': preco.invalid && (preco.dirty || preco.touched),
          'is-valid': preco.valid && (preco.dirty || preco.touched)
         }"
         required/>
  <div class="invalid-feedback m-2" role="alert" *ngIf="preco.invalid && (preco.dirty || preco.touched)">
    <div *ngIf="preco.errors.required">
      Preço deve ser preechido
    </div>
  </div>

  <div class="input-group mb-2">
    <div class="custom-file col-4">
      <input type="file" class="custom-file-input" id="inputFile" (change)="inputChange($event.target.files)" />
      <label for="inputFile" class="custom-file-label">Escolha uma foto</label>
    </div>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner_imagem"></span>
  </div>

  <div>
    <button class="btn btn-primary m-2" type="submit" (click)="cadastrarProduto()" [disabled]="ativar_spinner">
      Salvar
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
    </button>
    <button type="button" class="btn btn-secondary" (click)="cancelarEdicao()">Cancelar</button>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="mensagem">
    {{mensagem}}
  </div>

  <div class="alert alert-success col-4" role="alert" *ngIf="produtoCadastrado">
    Produto cadastrado com sucesso! <a class="alert-link" [routerLink]='["/lista-produto"]'>Clique aqui</a> para acessar os produtos.
  </div>
</form>
