<div><h2>Meus Pedidos</h2></div>

<table class="table" *ngIf="pedidos">
  <thead class="thead-light">
    <tr>
      <th scope="col">Número</th>
      <th scope="col">Data</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of pedidos">
      <td>{{pedido.id}}</td>
      <td>{{pedido.dataPedido | date: 'dd/MM/yyyy'}}</td>
      <td>{{pedido.total | currency: "R$ "}}</td>
      <td><a href="#">Detalhes</a></td>
    </tr>
  </tbody>
</table>
